<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>

    {% if user.is_authenticated %}
        <div><p class="h1">Click Here to Leave a Review!</p></div>
    {% else %}
        <div><p class="h1">Login to Leave a Review!</p></div>
    {% endif %}
    {% for dealer_obj in dealership %}
        <div><p class="h1">Reviews for {{dealer_obj.full_name}}</p></div>
    {% endfor %}
    <div class="card-columns">
        {% for review_obj in reviews %}
            <div class="card">
                {% if review_obj.sentiment == "positive" %}
                    <img class="card-img-left" size="small" src="{{MEDIA_URL}}/emoji/positive.png">
                {% elif review_obj.sentiment == "neutral" %}
                    <img class="card-img-left" size="small" src="{{MEDIA_URL}}/emoji/neutral.png">
                {% elif review_obj.sentiment == "negative" %}
                    <img class="card-img-left" size="small" src="{{MEDIA_URL}}/emoji/negative.png">
                {% else %}
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{review_obj.car_make}}, {{review_obj.car_model}}</h5>
                    <h5 class="card-title">{{review_obj.purchase_date}}</h5>
                    <p class="card-text">{{review_obj.review}}</p>
                </div>
            </div>
        {% endfor %}
    </div>

</body>


</html>